.article__title {
  font-size: 20px;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: -0.04em;
  margin: 0 0 26px;
}

.article__paragraph {
  font-size: 14px;
  line-height: 1.4;
  font-weight: 400;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .article__title {
    margin: 0 0 22px;
  }

  .article__paragraph {
    font-size: 12px;
    line-height: 1.5;
  }
}

@media screen and (max-width: 425px) {
  .article__title {
    font-size: 18px;
    margin: 0 0 16px;
  }

  .article__paragraph {
    font-size: 11px;
    line-height: 1.45;
  }
}
