.techs {
  background: #272727;
  padding: 100px max(70px, calc((100% - 1140px) / 2));
}

.techs__title {
  font-size: 50px;
  line-height: 1.16;
  font-weight: 400;
  letter-spacing: -0.04em;
  text-align: center;
  margin: 90px 0 26px;
}

.techs__subtitle {
  max-width: 460px;
  font-size: 14px;
  line-height: 1.4;
  font-weight: 400;
  letter-spacing: -0.04em;
  text-align: center;
  margin: 0 auto 100px;
}

.techs__list {
  display: grid;
  grid-template-columns: repeat(7, 90px);
  grid-template-rows: 60px;
  gap: 10px;
  justify-content: center;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: -0.04em;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.techs__item {
  display: grid;
  place-items: center;
  border-radius: 10px;
  background: #303030;
}

@media screen and (max-width: 1024px) {
  .techs {
    padding: 90px 50px;
  }

  .techs__title {
    margin: 80px 0 22px;
  }

  .techs__subtitle {
    font-size: 12px;
    line-height: 1.5;
    margin: 0 auto 83px;
  }

  .techs__list {
    grid-template-columns: repeat(auto-fit, 84px);
    grid-auto-rows: 57px;
    font-size: 12px;
    line-height: 1.25;
  }
}

@media screen and (max-width: 425px) {
  .techs {
    padding: 70px 14px;
  }

  .techs__title {
    font-size: 30px;
    line-height: 1.2;
    margin: 60px 0 24px;
  }

  .techs__subtitle {
    font-size: 11px;
    line-height: 1.45;
    margin: 0 auto 50px;
  }
}

@media screen and (max-width: 320px) {
  .techs__list {
    grid-template-columns: repeat(2, 84px);
  }
}
