.message {
  flex: 1 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 69px;
}

.message__text {
  text-align: center;
  color: #3ddc84;
  font-size: 12px;
  line-height: 1.2;
  font-weight: 400;
  margin: 0;
}

.message__text_type_error {
  color: #ee3465;
}
